@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./skeletal.css";

.transition-smooth {
  @apply transition-all duration-200 ease-in-out;
}

body {
  font-family: "Montserrat", sans-serif;
}

.shadow {
  box-shadow: -10px 20px 10px 20px #ffffff;
}

.shadow-gray {
  box-shadow: -10px 20px 10px 20px rgb(249, 250, 251);
}
